/*Menu*/
body{
  font-family: 'Gudea', sans-serif;
  background-color: #e8e8e8;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5588a3;
  
}

.datos {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #145374;
}

/* imagen y título*/

.imagen {
  margin-top: 30px;
  width: 15%;
  height: 400px;
 
  padding-left: 3%;
  display: inline-block;
}

.foto{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

h1 {
  color: #00334e;
  font-size: 25px;
  
}

h2 {
  color: #00334e;
}

/*Tarjetas*/

.texto {
  margin-top: 30px;
  padding: 5px;
  
  width: 75%;
  float: right;
  height: 100%;
  margin-bottom: 30px;
}

#Sobre {
  height: 280px;
}

.tarjetas {
  width: 95%;
  height: 400px;
  background-color: #F7F7F7;
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 5px rgb(187, 186, 186);
  border-radius: 8px;
}

.empresa{
  display: inline;
}

.logoit{
  
  width: 50px;
  height: 30px;
}


#Hobbies {
  width: 95%;
  height: 200px;
  background-color: #F7F7F7;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgb(187, 186, 186);
  
}

.iconos-hobbies{
  display: inline-block;
}

.iconos-conocimientos{
  float:right;
}

/*Footer*/

footer{
  width: 100%;
  height: 50px;
  background-color: #5588a3;
  display: inline-block;
  text-align: center;
  color: #ddd;
}


